<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sharkey.Watcher.Mapper.FTPUserMapper">
    <insert id="insertFTPUser" parameterType="com.example.sharkey.Entity.FTPUser" keyProperty="userid">
        insert into FTP_USER(userid, userpassword, homedirectory)
        values(#{userid}, #{userpassword}, #{homedirectory})
    </insert>

    <select id="selectFTPUser" resultType="com.example.sharkey.Entity.FTPUser">
        select * from FTP_USER
        where userid = #{userid}
    </select>
</mapper>