<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sharkey.Watcher.Mapper.UserMapper">
    <select id="getUserByPrimaryAccount" resultType="com.example.sharkey.Entity.User">
        select * from user
        where username = #{username}
    </select>

    <update id="changeProfile">
        update user
        <set>
            <if test="profile!=null">profile = #{profile}</if>
        </set>
        where username = #{username}
    </update>

    <select id="getAllUsers" resultType="com.example.sharkey.Entity.User">
        select * from user
    </select>

    <insert id="insertUser" parameterType="com.example.sharkey.Entity.User">
        insert into user(username, password, nickname, email)
        values (
        <if test="username != null">#{username},</if>
        <if test="password != null">#{password},</if>
        <if test="nickname != null">#{nickname},</if>
        <if test="email != null">#{email}</if>)
    </insert>

    <select id="getUserNum" parameterType="String" resultType="Integer">
        select count(id) from user
        where <if test="username != null">username = #{username}</if>
    </select>

    <select id="getEmailNum" parameterType="String" resultType="Integer">
        select count(id) from user
        where <if test="email != null">email = #{email}</if>
    </select>

    <select id="getUsersByListParams" resultType="com.example.sharkey.Entity.User">
        select * from user
        where user.username in
        <foreach collection="list" item="username" index="index" open="(" close=")" separator=",">
            #{username}
        </foreach>
    </select>

    <update id="UpdateUserInfo" parameterType="com.example.sharkey.Entity.User">
        update user
        <set>
            <if test="nickname != null">nickname=#{nickname},</if>
            <if test="sysnopsis != null">sysnopsis=#{sysnopsis},</if>
            <if test="console != null">console=#{console},</if>
            <if test="email != null">email=#{email}</if>
        </set>
        where id = #{id} and username = #{username}
    </update>

    <update id="UpdateUserIp" parameterType="int">
        update user
        <set>
            <if test="ip != null">ip = #{ip}</if>
        </set>
        where id = #{id}
    </update>

    <select id="getClockInList" resultType="com.example.sharkey.Entity.ClockIn">
        select id, username, date
        from clockin
        where username = #{username}
    </select>

    <insert id="insertClockIn" parameterType="com.example.sharkey.Entity.ClockIn" useGeneratedKeys="true">
        insert into clockin
        (username, date) values (#{username}, #{date})
    </insert>

    <select id="getMemoList" resultType="com.example.sharkey.Entity.Memo">
        select id, username, date, memo
        from memo
        where username = #{username}
    </select>

    <insert id="insertMemo" parameterType="com.example.sharkey.Entity.Memo" useGeneratedKeys="true">
        insert into memo
        (username, date, memo) values (#{username}, #{date}, #{memo})
    </insert>

    <delete id="deleteMemo" parameterType="com.example.sharkey.Entity.Memo">
        delete from memo
        where username = #{username} and memo = #{memo} and date = #{date}
    </delete>

    <select id="getMemoToday" parameterType="date" resultType="com.example.sharkey.Entity.Memo">
        select m.id, m.username, m.date, m.memo, u.email, u.nickname
        from memo m left join user u on m.username = u.username
        where to_days(m.date) = to_days(now())
    </select>

    <select id="getDIYPageByUsername" resultType="com.example.sharkey.Entity.DIYPage" parameterType="java.lang.String">
        select dp.id, dp.username, dp.path, dp.type
        from diypage dp
        where
        <if test="username != null">username = #{username}</if>
    </select>

    <insert id="insertDIYPage" parameterType="com.example.sharkey.Entity.DIYPage" useGeneratedKeys="true" keyProperty="id">
        insert into diypage
        (username, path, type) values(#{username}, #{path}, #{type})
    </insert>

    <delete id="deleteDIYPage">
        delete from diypage
        where username = #{username}
    </delete>

    <select id="getUserConfigByUserName" resultType="com.example.sharkey.Entity.UserConfig">
        select uc.id, uc.uid, uc.mailnotify
        from user u left join userconfig uc on u.id = uc.uid
        where u.username = #{username}
    </select>

    <update id="updateUserConfig" parameterType="com.example.sharkey.Entity.UserConfig">
        update userconfig
        <set>
            <if test="mailnotify != null">mailnotify = #{mailnotify},</if>
        </set>
        where uid = #{uid}
    </update>

    <select id="getVoteConfig" resultType="com.example.sharkey.Entity.VoteConfig">
        select v.id, v.uid, v.token, v.enable, v.address, v.lat, v.lng, v.first, v.second, v.third, v.apartment, v.province
        from vote v left join user u on v.uid = u.id
        where u.username = #{username}
    </select>

    <update id="updateVoteConfig" parameterType="com.example.sharkey.Entity.VoteConfig">
        update vote
        <set>
            <if test="enable != null">enable = #{enable},</if>
            <if test="lat != null">lat = #{lat},</if>
            <if test="lng != null">lng = #{lng},</if>
            <if test="address != null">address = #{address},</if>
            <if test="apartment != null">apartment = #{apartment},</if>
            <if test="province != null">province = #{province},</if>
            <if test="first != null">first = #{first},</if>
            <if test="second != null">second = #{second},</if>
            <if test="third != null">third = #{third},</if>
            <if test="token != null">token = #{token},</if>
        </set>
        where uid = #{uid}
    </update>

    <update id="updateCheckEmailByUsername" parameterType="String">
        update user
        <set>
            checkEmail = true
        </set>
        where username = #{username}
        </update>
</mapper>