<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sharkey.Watcher.Mapper.UserMapper">
    <select id="getUserByPrimaryAccount" resultType="com.example.sharkey.Entity.User">
        select * from user
        where username = #{username}
    </select>

    <update id="changeProfile">
        update user
        <set>
            <if test="profile!=null">profile = #{profile}</if>
        </set>
        where username = #{username}
    </update>

    <select id="getAllUsers" resultType="com.example.sharkey.Entity.User">
        select * from user
    </select>

    <insert id="insertUser" parameterType="com.example.sharkey.Entity.User">
        insert into user(username, password, nickname, sysnopsis, profile) values (#{username}, #{password}, #{nickname}, #{sysnopsis}, #{profile})
    </insert>

    <select id="getUsersByListParams" resultType="com.example.sharkey.Entity.User">
        select * from user
        where user.username in
        <foreach collection="list" item="username" index="index" open="(" close=")" separator=",">
            #{username}
        </foreach>
    </select>

    <update id="UpdateUserInfo" parameterType="com.example.sharkey.Entity.User">
        update user
        <set>
            <if test="nickname != null">nickname=#{nickname},</if>
            <if test="sysnopsis != null">sysnopsis=#{sysnopsis},</if>
            <if test="console != null">console=#{console},</if>
        </set>
            where id = #{id} and username = #{username}
    </update>

    <update id="UpdateUserIp" parameterType="int">
        update user
        <set>
            <if test="ip != null">ip = #{ip}</if>
        </set>
        where id = #{id}
    </update>

    <select id="getClockInList" resultType="com.example.sharkey.Entity.ClockIn">
        select id, username, date
        from clockin
        where username = #{username}
    </select>

    <insert id="insertClockIn" parameterType="com.example.sharkey.Entity.ClockIn" useGeneratedKeys="true">
        insert into clockin
        (username, date) values (#{username}, #{date})
    </insert>

    <select id="getMemoList" resultType="com.example.sharkey.Entity.Memo">
        select id, username, date, memo
        from memo
        where username = #{username}
    </select>

    <insert id="insertMemo" parameterType="com.example.sharkey.Entity.Memo" useGeneratedKeys="true">
        insert into memo
        (username, date, memo) values (#{username}, #{date}, #{memo})
    </insert>

    <delete id="deleteMemo" parameterType="com.example.sharkey.Entity.Memo">
        delete from memo
        where username = #{username} and memo = #{memo} and date = #{date}
    </delete>

    <select id="getMemoToday" parameterType="date" resultType="com.example.sharkey.Entity.Memo">
        select m.id, m.username, m.date, m.memo, u.email
        from memo m left join user u on m.username = u.username
        where to_days(m.date) = to_days(now())
    </select>
</mapper>